@model newAlcogolMarket.Models.Entities.Product
<body>
	
	<a>@Model.Name</a>
	<a>@Model.Price</a>
	<form method="post">
	<input name="quantity"/>
	<button>Добавить</button>
	</form>
	@*<a href="BasketItem/Add?productId=@Model.Id&quantity="></a>
	"/books/list?centuryId=@cent.Id"*@
</body>
