@model newAlcogolMarket.Models.ProductViewModel 
<body>
	
	<a>@Model.Product.Name</a>
	<a>@Model.Product.Price</a>
	<form method="post">
	<input asp-for="Amount"/>
	<input type="submit" value="Добавить" class="btn btn-primary"/>
	<input type="hidden" asp-for="Product.Id"/>
	</form>
	@*<a href="BasketItem/Add?productId=@Model.Id&quantity="></a>
	"/books/list?centuryId=@cent.Id"*@
</body>
