html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

a {
    font-weight: bold;
}

html {
    position: relative;
    min-height: 100%;
    background: #2E005C;

}

body {
    margin-bottom: 60px;
    background: #2E005C;
}



header {
    background: #5C00A5;
    box-shadow: 0 0 10px rgb(0, 255, 33);

}
a:hover {
    color: blueviolet
}

li :hover {
    color:  gold
}

img :hover {
    filter:  invert(100%)
}

.use-1 {
    background: #5C00A5;
}

    .use-1 button {
        background: url('https://cdn-icons-png.flaticon.com/512/4296/4296591.png') no-repeat;
        
        border-radius: 50%;
        border: 0;
    }

.use-2 {
    background: #5C00A5;
}

    .use-2 button {
        background: transparent;
        border-radius: 50%;
        border: 0;
    }


.nav-link button:hover {
    cursor: pointer;
    filter: invert(100%);
}

p {
    color: white;
    text-align: center;
}

h1 {
    color: white;
    text-align: center;
}

.nav-link2 button:hover {
    cursor: pointer;
    
    float: left;
}

li {
    text-align: left;
}

.nav-link1 {
    position: absolute;
    top: 7.6%;
    left: 0px;
    width: 10%;
    height: 5%;
    margin-bottom: 10px;
    background: #5C00A5;
}

.nav-link2 {
    position: absolute;
    top: 12.8%;
    left: 0px;
    width: 10%;
    height: 5%;
    margin-bottom: 10px;
    background: #5C00A5;
}
.nav-link3 {
    position: absolute;
    top: 18%;
    left: 0px;
    width: 10%;
    height: 5%;
    margin-bottom: 10px;
    background: #5C00A5;
}
.nav-link4 {
    position: absolute;
    top: 23.2%;
    left: 0px;
    width: 10%;
    height: 5%;
    margin-bottom: 10px;
    background: #5C00A5;
}
.nav-link5 {
    position: absolute;
    top: 28.4%;
    left: 0px;
    width: 10%;
    height: 5%;
    margin-bottom: 10px;
    background: #5C00A5;
}
.nav-link6 {
    position: absolute;
    top: 33.6%;
    left: 0px;
    width: 10%;
    height: 5%;
    margin-bottom: 10px;
    background: #5C00A5;
}
.nav-link7 {
    position: absolute;
    top: 38.8%;
    left: 0px;
    width: 10%;
    height: 5%;
    margin-bottom: 10px;
    background: #5C00A5;
}
.nav-link8 {
    position: absolute;
    top: 44%;
    left: 0px;
    width: 10%;
    height: 5%;
    margin-bottom: 10px;
    background: #5C00A5;
}
.nav-link9 {
    position: absolute;
    top: 49.2%;
    left: 0px;
    width: 10%;
    height: 5%;
    margin-bottom: 10px;
    background: #5C00A5;
}