@*@model newAlcogolMarket.Models.SnackViewModel
<body>
	<style>
		.Important{
			font-size: 60px;
			color:#323232;

		}
		.NotImpRight{
			
			vertical-align:top;
			text-align:right;
			font-size: 20px;
			color:#323232;
		}
		.NotImpLeft{
			margin-top:-66px;
		}
		.NotImpLeft2{
			font-size: 30px;
			color:#323232;
		}
form {
	 margin-left: 1012px;
    margin-top: -168px;
    width: 84px;
    height: 40px;
    font-size:14px;
    font-weight:700;
}
	@*</style>
	<p class="Important">@Model.Snack.Name</p>
	<p class="NotImpLeft"><img src="@Model.Snack.Image" width="202" height="332"></p><br/>
	<b class="NotImpLeft2">*@
@*@*Стоимость: @Model.Snack.Price Руб<br/></b>
	@*<div class="knopka">
	<form method="post">
	<input asp-for="Amount"/>
	<input type="submit" value="Добавить в корзину" class="btn btn-primary"/>
	<input type="hidden" asp-for="Product.Id"/>
	</form>
	<div/>
	
</body>*@
