
@{
    ViewData["Title"] = "Admin Panel";
}

<!DOCTYPE html>
<html lang="ru">
<head>
</head>
<body>
<div class="head">
    <h1>Админ страничка</h1>

@*    <form action="/Home/Index">
        <input type="submit" action="/Home/Index" value="Вернуться на главную" class="somebuttons" style="margin-right: 3px;"/>
    </form>

    <form method="get" action="/Admin/ChangePassword">
        <input type="submit" action="/Admin/ChangePassword" value="Изменить пароль" class="somebuttons" style="margin-right: 3px;"/>
    </form>

    <form method="post" action="/Admin/SignOut">
        <input type="submit" action="/Admin/SignOut" value="Выйти" class="somebuttons"/>
    </form>*@
</div>

<div class="somecontainer">
    <nav class="leftmenu">
        <a asp-action=""></a><br />
        <a asp-action="Creams">Creams</a><br />
        <a asp-action="Desserts">Desserts</a><br />
        <a asp-action="Drinks">Drinks</a><br />
        <a asp-action="Espressoes">Espressoes</a><br />
    </nav>
</div>
<div>
    <button asp-action="SignOut" asp-controller="User">Выход</button>
</div>
</body>
</html>