@model List<BasketItem>
<body>
	<div>
		<table>
		@foreach(var item in Model)
		{
		<a>
			@item.Product.Name
		</a>
		<a>
			@item.Product.Price
		</a>
		}
		</table>
	</div>
	<a>@ViewBag.TotalAmount</a>
	<button>Оплатить</button>
</body>