@model List<Category>
<h3>Добавить Category</h3>
<form asp-action="AddCategory" style="display:flex;">
    <p>
        <label>Name</label><br />
        <input type="text" name="Name" />
    </p>
    <input type="submit" value="Добавить" />
</form>
<br />
<div>
        <table>
            <tr>
                <td>Id</td>
                <td>Name</td>
            </tr>
        </table>
    @foreach(var item in Model)
    {
        <table>   
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
        </tr>
        </table>
    }
</div>
