<!DOCTYPE html>
<html lang="ru">
<head>
        <meta charset="utf-8">
        <link href="site.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/adm.css" asp-append-version="true" />
</head>
<body>
<div class="head">
    <h1>Админ страничка</h1>
</div>
<div class="somecontainer">
    <nav class="leftmenu">
        <a asp-action="ProductView">Products</a><br />
        <a asp-action="CategoryView">Categories</a><br />
        <a asp-action="UserView">Users</a><br />
        <a asp-action="SnackView">Snacks</a><br/>
        <a asp-action="SizeView">Sizes</a><br/>
        <a asp-action="CountryView">Countries</a><br/>
    </nav>
</div>
</body>