<html>
    <head>
        <meta charset='utf-8' />
    </head>
    <body>
        <h2>Регистрация</h2>
        <div id="block-search">
        <form method='post'>
            <p>
                <label>Login</label><br/>
                <input name='login' />
            </p>
            <p>
                <label>Password</label><br />
                <font ><input type='password' name='password' /></font>
            </p>
            <input asp-action="Register" type='submit' value='Зарегистрироваться'/>
        </form>
        </div>
    </body>
</html>