@model List<Snack>
<h3>Добавить Snack</h3>
<form asp-action="SnackAdd" style="display:flex;">
    <p>
        <label>Name</label><br />
        <input type="text" name="Name" />
    </p>
    <p>
        <label>Price</label><br />
        <input type="text" name="Price" />
    </p>
    <p>
        <label>Weight</label><br />
        <input type="text" name="Weight" />
    </p>
    <input type="submit" value="Добавить" />
</form>
<br />
<div>
        <table>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Price</td>
                <td>Weight</td>
            </tr>
        </table>
    @foreach(var item in Model)
    {
        <table>
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Weight</td>
        </tr>
        </table>
    }
</div>