@{
    ViewData["Title"] = "Admin Panel";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
</head>
<body>
    <h1>THANKS</h1>
</body>