@model List<User>
<h3>Добавить User</h3>
<form asp-action="UserAdd" style="display:flex;">
    <p>
        <label>Login</label><br />
        <input type="text" name="Login" />
    </p>
    <p>
        <label>Password</label><br />
        <input type="text" name="Password" />
    </p>
    <input type="submit" value="Добавить" />
</form>
<br/>
<div>
        <table>
            <tr>
                <td>Id</td>
                <td>Login</td>
                <td>Password</td>
            </tr>
        </table>
    @foreach(var item in Model)
    {
        <table>
        <tr>
            <td>@item.Id</td>
            <td>@item.Login</td>
            <td>@item.Password</td>
        </tr>
        </table>
    }
</div>