@{
    ViewData["Title"] = "Basket";
}
<head>
        <meta charset="utf-8">
        <link href="site.css" rel="stylesheet">
        <style>
        .basket{
            text-align: center;
        }
        </style>
        <title>BEDOLAGI-Корзина</title>
</head>
<body>
    <audio src="https://d9olupt5igjta.cloudfront.net/samples/sample_files/21999/a97133c8b3525c510265dc77272fd5874da7337a/mp3/_Impact_2.mp3?1540417944" autoplay></audio>
    <p class="basket">Список покупок:</p>
</body>
