@{
    ViewData["Title"] = "Home Page";
}
<head>
        <meta charset="utf-8">
        <link href="site.css" rel="stylesheet">
        <title>BEDOLAGI-Алкомаркет</title>
</head>
<body>
    <header>
        
    <ul class="navbar-nav flex-grow-1">
<li class="nav-item2">
<button class="nav-link1 " asp-controller="Home" asp-action="Index" ><font>Вина</font></button>
</li>
<li class="nav-item">
<button class="nav-link2 " asp-area="" asp-controller="Home" asp-action="Privacy"><font>Ликёры</font></button>
</li>
<li class="nav-item">
<button class="nav-link3 " asp-area="" asp-controller="Home" asp-action="Privacy"><font>Шампанское</font></button>
 </li>
 <li class="nav-item">
 <button class="nav-link4 " asp-area="" asp-controller="Home" asp-action="Privacy"><font>Виски</font></button>
 </li>
 <li class="nav-item">
 <button class="nav-link5 " asp-area="" asp-controller="Home" asp-action="Privacy"><font>Коньяк</font></button>
 </li>
 <li class="nav-item">
 <button class="nav-link6 " asp-area="" asp-controller="Home" asp-action="Privacy"><font>Пиво</font></button>
 </li>
 <li class="nav-item">
 <button class="nav-link7 " asp-area="" asp-controller="Home" asp-action="Privacy"><font>Абсент</font></button>
 </li>
 <li class="nav-item">
 <button class="nav-link8 " asp-area="" asp-controller="Home" asp-action="Privacy"><font>Водка</font></button>
 </li>
 <li class="nav-item">
 <button class="nav-link9 " asp-area="" asp-controller="Home" asp-action="Privacy"><font>Закуски</font></button>
 </li>
    </ul>
    </header>
</body>
