@{
    ViewData["Title"] = "Home Page";
}
<head>
        <meta charset="utf-8">
        <link href="site.css" rel="stylesheet">
        <title>BEDOLAGI-Алкомаркет</title>
</head>
<body>
    <ul class="navbar-nav flex-grow-1">
<li class="nav-item">
<button class="nav-link2 " asp-controller="Home" asp-action="Index" ><font color=#00A82F >Вина</font></button>
</li>
<li class="nav-item">
<button class="nav-link2 " asp-area="" asp-controller="Home" asp-action="Privacy"><font color=#00A82F>Ликёры</font></button>
</li>
<li class="nav-item">
<button class="nav-link2 " asp-area="" asp-controller="Home" asp-action="Privacy"><font color=#00A82F>Шампанское</font></button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link2 " asp-area="" asp-controller="Home" asp-action="Privacy"><font color=#00A82F>Виски</font></button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link2 " asp-area="" asp-controller="Home" asp-action="Privacy"><font color=#00A82F>Коньяк</font></button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link2 " asp-area="" asp-controller="Home" asp-action="Privacy"><font color=#00A82F>Пиво</font></button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link2 " asp-area="" asp-controller="Home" asp-action="Privacy"><font color=#00A82F>Абсент</font></button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link2 " asp-area="" asp-controller="Home" asp-action="Privacy"><font color=#00A82F>Водка</font></button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link2 " asp-area="" asp-controller="Home" asp-action="Privacy"><font color=#00A82F>Закуски</font></button>
                        </li>
                    </ul>
</body>
