@{
    ViewData["Title"] = "Liquor";
}
<head>
        <meta charset="utf-8">
        <link href="site.css" rel="stylesheet">
        <title>BEDOLAGI-Ликёры</title>
</head>
<body>
	<h3>Ликёры:</h3>
    <ul class="products clearfix">
	<li class="product-wrapper">
		<a href="" class="product"></a>
	</li>
	<li class="product-wrapper">
		<a href="" class="product"></a>
	</li>
	<li class="product-wrapper">
		<a href="" class="product"></a>
	</li>
	<li class="product-wrapper">
		<a href="" class="product"></a>
	</li>
	<li class="product-wrapper">
		<a href="" class="product"></a>
	</li>
	</ul>
</body>