@model newAlcogolMarket.Models.Entities.User
 
<h2>Вход</h2>
<form asp-action="SignUp" asp-controller="home">
    <p>
        <label asp-for="Login">Логин</label><br />
        <input type="text" asp-for="Login" />
    </p>
    <p>
        <label asp-for="Password">Пароль</label><br />
        <input type="number" asp-for="Password" />
    </p>
    <p>
        <input type="submit" value="Войти" />
    </p>
</form>